body {
  background-color: rgb(185, 185, 185);
}
.weather-card {
  border: 4mm ridge rgb(115, 134, 240);
  padding: 20px;
  text-align: center;
  border-radius: 10%;
  background-color: rgb(161, 252, 217);
  width: 275px;
}
.weather-icon {
<<<<<<< HEAD
  font-size: 40px;
}
.forecast-card {
  border: 4mm ridge rgb(115, 134, 240);
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  background-color: rgb(161, 252, 217);
  width: 275px;
  margin: 10px 10px;
=======
  font-size: 40px; 
>>>>>>> 79f34f9e5c02630a6dc6e23ae59167aac041a5ac
}
